<span class="modals" empty="true">
		<div class="modals-modal modals-sign-in">
			<div class="modals-modal-inside modals-sign-in-inside">
				<div class="modals-modal-blackout"></div>
				<div class="modals-modal-close-area"></div>
				<div class="modals-modal-tile modals-sign-in-tile">
					<div class="modals-sign-in-arrow" style="right: calc(135.5px - 5vw);"></div>
					<form class="modals-sign-in-classic">
						<div class="modals-sign-in-classic-field">
							<label class="modals-sign-in-classic-field-label">Эл.Почта</label>
							<input class="modals-sign-in-classic-field-input" maxlength="255" type="email" name="email" required="required">
						</div>
						<div class="modals-sign-in-classic-field">
							<label class="modals-sign-in-classic-field-label">Пароль</label>
							<input class="modals-sign-in-classic-field-input" maxlength="255" type="password" name="email" required="required">
						</div>
						<div class="modals-sign-in-classic-remember">
							<input id="modals-sign-in-classic-remember-input" type="checkbox">
							<label class="modals-sign-in-classic-remember-label" for="modals-sign-in-classic-remember-input">
								<div class="modals-sign-in-classic-remember-input-selector">Запомнить
								</div>
							</label>
						</div>
						<span class="modals-sign-in-classic-forgot-password">Забыли пароль?</span>
						<button class="modals-sign-in-classic-sign-in" type="submit">
							<span>Войти</span>
						</button>
					</form>
					<span class="modals-sign-in-sign-up">Быстрая регистрация</span>
					<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" icon="cross" class="modals-modal-close">
						<polygon points="15,0.54 14.46,0 7.5,6.96 0.54,0 0,0.54 6.96,7.5 0,14.46 0.54,15 7.5,8.04 14.46,15 15,14.46 8.04,7.5">
						</polygon>
					</svg>
				</div>
			</div>
		</div>
	</span>