@{
    ViewData["Title"] = "Home Page";
}
<div class="root">
	<header class="header">
		<div class="header-first">
			<div class="header-strip-left"></div>
			<div class="header-logo">
				<img src="images/logo.png">
			</div>
			<div class="header-strip-right"></div>
		</div>
		<div class="header-second">
			<ul class="header-menu">
				<li class="header-menu-item"><a class="" href="category/t-shirts.html">Футболки</a></li>
				<li class="header-menu-item"><a class="" href="">Свитшоты</a></li>
				<li class="header-menu-item"><a class="" href="">Худи</a></li>
				<li class="header-menu-item"><a class="" href="">Рубашки</a></li>
				<li class="header-menu-item"><a class="" href="">Шапки</a></li>
				<li class="header-menu-item"><a class="" href="">Поло</a></li>
				<li class="header-menu-item"><a class="" href="">Рюкзаки</a></li>
				<li class="header-menu-item"><a class="" href="">Сувениры</a></li>
				<li class="header-menu-item"><a class="" href="">MEMES</a></li>
				<li class="header-menu-item"><a class="" href="">FAQ</a></li>
				<li class="header-menu-item"><a class="" href="">Статус заказа</a></li>
			</ul>
		</div>
	</header>
	<section class="start default-page">
		<div class="start-slider"></div>
			<div class="start-phrase-of-the-day">
				Есть только&nbsp;
				<span class="start-phrase-of-the-day-text-white">белый</span>
				&nbsp;и черный.
				Остальное - оттенки.
			</div>
		</section>
</div>