html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	background-image: url(../images/bg.png);
	scrollbar-width: none;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaNewBookReg.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Demi';
  src: url('../fonts/FuturaNewDemi.otf');
  font-weight: normal;
  font-style: normal;
}

button{
	outline: none;
	background: none;
	cursor: pointer;
	border: 0px solid transparent;
}

input{
	background: inherit;
	outline: none;
	border: none;
	border-radius: 0;
	font-size: 18px;
	font-weight: 500;
}

.header{
	display: flex;
	justify-content: center;
	height: 100%;
	flex-direction: column;
}

.header-first{
	display: flex;
	justify-content: center;
	height: 110px;
	width: 100%;
	align-items: flex-end;
}
.header-strip-left, .header-strip-right{
	display: flex;
	background-color: #fff;
	align-items: center;
	height: 2px;
	width: 100%;
}

.header-logo{
	display: flex;
	align-items: center;
}
.header-second{
	position: relative;
	display: flex;
	justify-content: center;
	height: 70px;
}

.header-second-other{
	top: 30px;
	right: 3vw;
	position: absolute;
	height: 10px;
	display: flex;
}

.header-account{
	/*margin-right: 20px;*/
	display: flex;
	align-items: flex-end;
	cursor: pointer;
}

.header-account-icon{
	fill: #fff;
}

.header-cart{
	margin-left: 20px;
	display: flex;
	align-items: flex-end;
	cursor: pointer;
}

.header-cart-icon{
	fill: #fff;
	cursor: pointer;
}

.header-cart-total-cost{
	margin-left: 10px;
	font-size: 15px;
	font-weight: 400;
	line-height: 10px;
	color: #fff;
	text-transform: uppercase;
}

.header-menu{
	width: calc(100vw - 500px);
	max-width: 1100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
	font-weight: 400;
	line-height: 100%;
	height: 70px;
	color: #fff;
	text-transform: uppercase;
}

.header-menu-item{
	position: relative;
	cursor: pointer;
}

.header-menu-item a{
	font-family: 'Futura';
}
.header-menu-item::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	left: 0;
	bottom: -3px;
	background: #fff;
	transition: transform .5s,-webkit-transform .5s;
}

.header-menu-item:not(:hover)::after{
	transform: scaleX(0);
}
ol,ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
}

.start{
	position: relative;
	display: flex;
	flex-direction: column;
}

.start-slider{
	position: relative;
	display: flex;
	flex-direction: column;
	height: 650px;
}

.start-phrase-of-the-day{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 140px;
	background: #fff;
	font-size: 21px;
	line-height: 43px;
	word-spacing: 8px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: "Futura Demi";
	letter-spacing: 1.05px;
}

.start-phrase-of-the-day-text-white{
	padding: 5px 15px;
	background: #000;
	color: #fff;
}

.footer{
	height: 340px;
	position: relative;
	z-index: 10;
	width: 100%;
	padding: 40px;
	background: #0d0d0e;
	color: #fff;
}

.footer-content{
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	filter: sepia(100%) saturate(10%) hue-rotate(190deg) brightness(130%);
}

.footer-menu{
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	line-height: 100%;
	color: #c5c5c5;
}

.footer-menu-item{
	position: relative;
}

.footer-menu-item::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	left: 0;
	bottom: -3px;
	background: #fff;
	transition: transform .5s,-webkit-transform .5s;
}

.footer-menu-item:not(:hover)::after{
	transform: scaleX(0);
}

.footer-logo{
	position: absolute;
	top: 80px;
	height: 40px;
}

.footer-socials{
	position: absolute;
	display: flex;
	top: 80px;
	left: 140px;
}

.footer-icons-instagram{
	fill: #888;
}

.footer-copyright{
	position: absolute;
	top: 171px;
	font-size: 18px;
	line-height: 100%;
	color: #c9c9c9;
}

.footer-email{
	position: absolute;
	align-items: flex-end;
	right: 210px;
	bottom: 143px;
	display: flex;
	flex-direction: column;
}

.footer-email-prefix{
	font-size: 13px;
	font-weight: 400;
	color: #616060;
	text-transform: uppercase;
}

.footer-email-content{
	font-size: 18px;
	color: #bfbfbf;
}

.footer-working{
	position: absolute;
	align-items: flex-end;
	right: 210px;
	bottom: 70px;
	display: flex;
	flex-direction: column;
}

.footer-working-prefix{
	font-size: 13px;
	font-weight: 400;
	color: #616060;
	text-transform: uppercase;
}

.footer-working-content{
	margin-top: 2px;
	font-size: 18px;
	color: #bfbfbf;
}

.footer-payment-options{
	position: absolute;
	right: 0;
	bottom: 65px;
}

.footer-payment-options-prefix{
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	font-size: 13px;
	font-weight: 400;
	color: #616060;
	text-transform: uppercase;
}

.footer-payment-options-list{
	flex-wrap: wrap;
	width: 155px;
	align-items: flex-end;
	justify-content: space-between;
	display: flex;
}

.footer-payment-options-visa{
	height: 17px;
}

.footer-payment-options-liqpay{
	height: 17px;
}

.footer-payment-options-mastercard{
	height: 64px;
	margin-top: 20px;
}

.footer-payment-options-privat{
	height: 64px;
	margin-top: 20px;
}

.footer-delivery{
	position: absolute;
	right: 0;
	bottom: -5px;
	font-size: 17px;
	text-align: right;
	color: #676767;
}

.default-page{
	min-height: calc(100vh - 179px);
	min-height: calc(var(--vh, 1vh)*100 - 179px);
}

.category {
	padding: 20px 0 155px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background: #fff;
}

.category-title{
	font-family: "Futura";
	font-weight: 500;
	font-size: 38px;
}

.category-list{
	margin-top: 75px;
	width: 85vw;
}

.category-list-content {
	display: flex;
	flex-wrap: wrap;
	margin: -35px -17.5px;
}

.category-product{
	width: calc((85vw - 70px)/3);
	display: flex;
	flex-direction: column;
	margin: 35px 17.5px;
	filter: drop-shadow(0 0 20px rgba(0,60,120,.06));
	cursor: default;
}

.category-product-cover{
	height: calc((85vw - 70px)/3*450/430);
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 29px;
	background: #fff;
}

.category-product-image{
	position: absolute;
	width: 90%;
	height: 80%;
	left: 5%;
	top: 15%;
	object-fit: contain;
}

.category-product-blackout{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	transition: opacity .5s;
}

.category-product:not(:hover) > .category-product-cover > .category-product-blackout{
	opacity: 0;
}

.category-product-blackout:hover{
	opacity: .5;
}
.category-product-price.price{
	position: absolute;
	left: 0;
	top: 0;
	font-size: calc((85vw - 70px)/3*24/430);
}

.price, .price-current{
	position: relative;
	display: flex;
}
.price{
	font-size: 24px;
	font-weight: 600;
}

.category-product-price > .price-current{
	border-radius: 0 0 1em 0;
}

.price-current{
	z-index: 1;
	padding: 0 1em;
	background: #000;
	color: #fff;
	align-items: center;
	display: flex;
}

.category-product:not(:hover) .category-product-more{
	opacity: 0;
}

.category-product:hover > .category-product-cover > .category-product-blackout{
	opacity: .5;
}

.category-product-more{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 50px;
	border-radius: 100px;
	background: #fff;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	transition: opacity .5s;
}

.category-product-name{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 58px;
	margin-top: 20px;
	border-radius: 100px;
	cursor: pointer;
}

.category-product-name > span:first-child{
	background: #fff;
}

.category-product-name > span{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border-radius: inherit;
	font-size: 18px;
	letter-spacing: 2px;
}

.category-product:not(:hover) .category-product-name > span:last-child{
	opacity: .0;
}

.category-product-name > span:last-child{
	background: #000;
	color: #fff;
	transition: opacity .5s;
}

.modals{
	transition: opacity 1.2s;
}

.modals-sign-in{
	position: absolute;
}

.modals-modal{
	position: absolute;
	z-index: 1000;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	pointer-events: auto;
}

.modals-sign-in-inside.modals-modal-inside{
	height: 100%;
}

.modals-sign-in-inside{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: auto;
}

.modals-modal-blackout{
	position: fixed;
	width: 100%;
	min-width: 100vh;
	height: 100%;
	min-height: 100vh;
	left: 0;
	top: 0;
	pointer-events: none;
	background: rgba(0,0,0,.43);
}

.modals-modal-close-area{
	position: absolute;
	width: 100%;
	min-width: 100vh;
	height: 100%;
	min-height: 100vh;
}

.modals-sign-in-tile.modals-modal-tile{
	top: 179px;
	padding: 30px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 366px;
	max-width: 90vw;
	margin: 0;
	right: 5vw;
}

.modals-modal-tile{
	border-radius: 20px;
	background: #fff;
}

.modals-sign-in-arrow{
	position: absolute;
	width: 30px;
	height: 30px;
	top: -12px;
	transform: rotate(45deg);
	border-radius: 5px;
	background: #fff;
}

.modals-sign-in-classic{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.modals-sign-in-classic-field:first-child{
	margin-bottom: 20px
}

.modals-sign-in-classic-field:nth-child(2){
	margin-bottom: 15px;
}

.modals-sign-in-classic-field{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.modals-sign-in-classic-field-label{
	font-size: 15px;
	line-height: 25px;
	color: #818d92;
	text-transform: uppercase;
}

.modals-sign-in-classic-field-input{
	width: 100%;
	height: 36px;
	padding: 0 15px;
	border-radius: 100px;
	background: #f4f6f8;
}

.modals-sign-in-classic-remember{
	position: relative;
	display: flex;
	align-items: center;
}

.modals-sign-in-classic-remember-input{
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.modals-sign-in-classic-remember-label{
	position: relative;
	margin-left: 35px;
	font-size: 15px;
	line-height: 25px;
	color: #818d92;
	cursor: pointer;
}

.modals-sign-in-classic-remember-input:not(:checked) + .modals-sign-in-classic-remember-label .modals-sign-in-classic-remember-label-selector{
	border: 1px solid #d8dee6;
}

.modals-sign-in-classic-remember-label-selector{
	position: absolute;
	width: 25px;
	height: 25px;
	right: calc(100% + 10px);
	top: 1px;
	background: #fff;
	transition: background .15s, border-color .15s;
}

.modals-sign-in-classic-remember-input:not(:checked) + .modals-sign-in-classic-remember-label .modals-sign-in-classic-remember-label-selector::before{
	opacity: 0;
}

.modals-sign-in-classic-remember-label-selector::before{
	content: "";
	position: absolute;
	display: block;
	width: 5px;
	height: 10px;
	left: 8px;
	top: 3px;
	border: solid #fff;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
	transition: opacity .15s;
}

.modals-sign-in-classic-forgot-password{
	margin-left: auto;
	font-size: 15px;
	line-height: 100%;
	color: #818d92;
	border-bottom: 1px dashed #818d92;
	cursor: pointer;
}

.modals-sign-in-classic-sign-in{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 165px;
	height: 40px;
	margin-top: 30px;
	border-radius: 100px;
	background: #000;
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.modals-sign-in-classic-sign-in > span{
	line-height: 1em;
}

.modals-sign-in-sign-up{
	margin-top: 25px;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	cursor: pointer;
}

.modals-modal-close{
	position: absolute;
	width: 20px;
	height: 20px;
	right: 20px;
	top: 20px;
	fill: #808392;
	cursor: pointer;
}